.content{

    padding-right: var(--padding-horizontal--main);
    padding-bottom: 0;
    padding-left: var(--padding-horizontal--main);
    width: 100%;
    height: 20%;
    display: flex;
    /* padding-left: 2rem; */
    align-items: center;
    gap: 2rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    /* letter-spacing: 2px; */
}
